<div class="container-fluid footer">
  <div class="container mt-5 py-3">
    <div>
      <a href="/main">Home</a>
    </div>
    <div>
      <a href="/movies">Search Movies</a>
    </div>
  </div>
</div>

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>


<script src="/js/utils.js"></script>
<script src="/js/autocomplete.js"></script>
<script src="/js/auto.js"></script>


<!-- navbar JS, Scrolling JS-->
<script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $("#mainNavbar");
      $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
    });
  });

  $(function () {
    $('ul.nav a').bind('click', function (event) {
      var $anchor = $(this);
      /*
      if you want to use one of the easing effects:
      $('html, body').stop().animate({
          scrollLeft: $($anchor.attr('href')).offset().left
      }, 1500,'easeInOutExpo');
       */
      $('html, body').stop().animate({
        scrollLeft: $($anchor.attr('href')).offset().left
      }, 1000);
      event.preventDefault();
    });
  });
</script>