<%- include("partials/header") %>

<div class="login-box">
    <h2>LOGIN</h2>
    <form class="login-form" action="/login" method="post">
        <div class="form-group">
            <label for="inputUsername" class="col-form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" value="test" name="username" required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control" value="test" name="password" id="inputPassword" required>
        </div>
        
        <button class="btn">Submit</button>
        <div>Use preset id and password for demo! </div>
    </form>
</div>

<%- include("partials/footer") %>
